/*-- scss:defaults --*/

// Base document colors
$body-bg: #2F2F2F; // page background color
$body-color: #FFFFFF; // page text color
$link-color: #31B9B7; // link color

// Navigation
$navbar-bg: #CCCCCC; // background color of navbar
$navbar-hl: #31B9B7; // highlight color for links
$sidebar-fg: #CCCCCC;


// Code blocks
$code-block-bg-alpha: -.8;