/*-- scss:defaults --*/

// Base document colors
$body-bg: #FFFFFF; // page background color
$body-color: #000000; // page text color
$link-color: #31B9B7; // link color

// Navigation
$navbar-bg: #CCCCCC; // background color of navbar
$navbar-hl: #31B9B7; // highlight color for links
//$sidebar-hl: #31B9B7;
//$sidebar-hl: red;
$sidebar-fg: #666666;



// Code blocks
$code-block-bg-alpha: -.4;